.App {
  font-family: 'Syne', sans-serif;
  font-size: 59px;
  font-weight: 700;
}

.Ap {
  font-family: var(--ff-ibm);
  font-size: 59px;
  font-weight: 700;
  color: var(--color-lightgreen);
}

.A {
  font-size: 70px;
}
